/**********************
 *      Main site     *
 **********************/
.panel {background:none; padding:10px 20px; margin-bottom:20px;
        line-height:170%; border:0px solid #eee; border-radius:0px;}
        
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
        
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #fdfdfd;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

a {color: #ff0000; text-decoration: none;
}

.topmenu li{float:left;list-style-type: none;}
.topmenu li li{clear: both; float: none; margin-right: 0px; 
			   padding: 6px 0; width: 155px;}

.pagetitle{font-size: 54px;}

footer{padding:0px;}

.container, 
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 977px;
}

footer {background: none repeat scroll 0 0 transparent;
    	border-top: 1px dashed gray; width: 733px; margin-left: auto;
    	margin-right: auto;}

/*Fix site horizontal skipping on page change, see github issue #5 */
html {overflow: -moz-scrollbars-vertical; overflow-y: scroll;}

/**********************
 *      Admin         *
 **********************/
/* fix weird indentation in blog category selection in admin*/
.selector {width: 704px;} 

/**********************
 *  Debug dev options *
 **********************/
.debugremove {display:none;}
.span2.left {width:10px;}
