/**********************
 *      Main site     *
 **********************/


@font-face{
		font-family: sanslike;
		src: url("/static/css/monospace-821-bt.ttf") format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
body{font-family: sanslike;}


.maincontent{ width:900px;}
.middle{margin-top:-5px;margin-left: 42px; width: 540px; margin-bottom: 40px;}
.middle h2{ font-size: 54px; line-height: 54px; color: #FF0000;}
.container.left{float:left;width:260px; margin-left: 13px;margin-right: 40px;}
.container.middle{float:left; width:400px;}
.container.left.logo{margin-top:50px;line-height: 57px;}
.container.sitemenu{margin-top: 32px;}
footer{padding:0px; clear: both; background: none repeat scroll 0 0 transparent;
    	border-top: 1px dashed gray; width: 733px; margin-left:auto; margin-right:auto;
}
.container ul{margin-top: -8px;}

.panel {background:none; padding:10px 20px; margin-bottom:20px;
        line-height:170%; border:0px solid #eee; border-radius:0px;}
        
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
        
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #fdfdfd;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

a {color: #ff0000; text-decoration: none;
}

.sitemenu a {color:#333333;}
.sitemenu li {list-style-type: none; font-size:17px;}
.sitemenu li li {clear: both; float: none; margin-right: 0px; 
			     padding: 6px 0; width: 160px;}
.sitemenu li.active {font-weight: bold;}
.sitemenu ul {margin-left: 9px; margin-right: 0px;margin-bottom: -2px;}
.pagetitle {font-size: 54px; color: #ff0000;}




.container, 
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 977px;
}


/*Fix site horizontal skipping on page change, see github issue #5 */
html {overflow: -moz-scrollbars-vertical; overflow-y: scroll;}

img{box-shadow: none;}
.featured-thumb {height: 120px; width: 120px;}
.share-twitter,
.share-facebook{background: none repeat scroll 0 0 #FFFFFF !important;}

.share-twitter,
.share-facebook,
.share-twitter:hover,
.share-facebook:hover {color: #616161;}

.share-twitter, .share-facebook, .share-twitter:hover, .share-facebook:hover {
    color: #616161;
    font-weight: bold;
    margin: 0px;
    text-shadow: none;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: none;
    background-repeat: repeat-x;
    background-color: white;
    border-image: none;
    border-radius: 0px;
    border-width: 1px;
    height: 26px;
    font-family: sanslike;
	font-size:17px;
    box-shadow: none;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 0;
    padding: 1px 12px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}
/* Go button next to search bar*/
.input-append input{
	font-family: sanslike;
	font-size:17px;
}

#logo_upperleft img{padding-left:17px;}


/* Search bar style and position */ 
.searchbar{padding:3px; margin-left:3px; width:30px;}
.searchbar .pull-right {float:none;}
.container.top{line-height: 35px;}
.navbar-search .search-query {border-radius: 0 0 0 0; width: 160px; 
							  padding:1px;font-family: sanslike;
							  font-size:17px;}
							  

textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FFFFFF;
    border: none;
    border-bottom: #333333 3px solid;
    box-shadow: none;
    transition: none;
    padding:4px;
}

.input-append .add-on:last-child, .input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
    border-radius: 0 0 0 0;
}
#search-results {border-left: #333333 3px solid; padding-left:10px;}


textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, 
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
 input[type="color"]:focus, .uneditable-input:focus {
    box-shadow: none;
    outline: 0 none;
    border-bottom: #333333 3px solid;
}

.right{float:right; position: absolute; width: 184px; left:968px;
       padding-top: 50px;
}
.right img{padding-bottom:100px;}
.red_dot{z-index:-1; position:absolute;}

/**********************
 *  Debug dev options *
 **********************/
.debugremove {display:none;}
.span2.left {width:10px;}
