/**********************
 *      Main site     *
 **********************/
.panel {background:none; padding:10px 20px; margin-bottom:20px;
        line-height:170%; border:0px solid #eee; border-radius:0px;}
        
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
        
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #fdfdfd;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

a {color: #ff0000; text-decoration: none;
}

.topmenu li{float:left;list-style-type: none;}
.topmenu li li{clear: both; float: none; margin-right: 0px; 
			   padding: 6px 0; width: 160px;}
.topmenu ul{margin-left: 14px; margin-right: 0px;}

.topmenu li.active{font-size: 15px; font-weight: bold;}
.pagetitle{font-size: 54px;}

footer{padding:0px;}

.container, 
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 977px;
}

footer {background: none repeat scroll 0 0 transparent;
    	border-top: 1px dashed gray; width: 733px; margin-left: auto;
    	margin-right: auto;}

/*Fix site horizontal skipping on page change, see github issue #5 */
html {overflow: -moz-scrollbars-vertical; overflow-y: scroll;}

img{box-shadow: none;}
.featured-thumb {height: 120px; width: 120px;}
.share-twitter,
.share-facebook{background: none repeat scroll 0 0 #FFFFFF !important;}

.share-twitter,
.share-facebook,
.share-twitter:hover,
.share-facebook:hover {color: #616161;}

.share-twitter, .share-facebook, .share-twitter:hover, .share-facebook:hover {
    color: #616161;
    font-weight: bold;
    margin: 0px;
    text-shadow: none;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: none;
    background-repeat: repeat-x;
    background-color: white;
    border-image: none;
    border-radius: 0px;
    border-width: 1px;
    height: 26px;
    border-color:#676767;
    box-shadow: none;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}

/* Search bar style and position */ 
.searchbar{float:right; padding:3px;}
.container.top{line-height: 35px;}
.navbar-search .search-query {border-radius: 0 0 0 0; width: 120px; 
							  padding:1px;}

textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FFFFFF;
    border: #ffff00 3px solid;
    box-shadow: none;
    transition: none;
    padding:4px;
}

.input-append .add-on:last-child, .input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
    border-radius: 0 0 0 0;
}
#search-results {border-left: #ffff00 3px solid; padding-left:10px;}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, 
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
 input[type="color"]:focus, .uneditable-input:focus {
    border: #FFFF00 solid 3px;
    box-shadow: none;
    outline: 0 none;
    padding:1px;
}


/**********************
 *  Debug dev options *
 **********************/
.debugremove {display:none;}
.span2.left {width:10px;}
